/* Red Theme Overrides */
body {
    background-color: #ffcccc; /* Light Red */
    color: #660000; /* Dark Red */
}

header, footer {
    background-color: #cf4b4b; /* Medium Red */
    color: white;
}

.navbar {
    background-color: #990000; /* Darker Red */
}

.nav-link {
    color: #ff6666; /* Lightest Red */
}

footer button {
    background-color: #990000; /* Darker Red */
    color: white;
}
